@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f3f9ff, #cfe6ff, #acd1ff, #8cbdff, #6da7ff);
    background-size: 100% 100%; 
    font-family: 'K2D', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quiz-container{
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 590px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* visibility: hidden; */
}

.container-top{
    margin-top: 10px;
    width: 700px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#questionNo{
    display: flex;
    justify-content: center;
    color: rgb(150, 150, 150);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    width: 60px;
}

#question{
    display: flex;
    font-size: large;
    font-weight: 600;
    margin-bottom: 15px;
}

.option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f9ff;
    font-size: larger;
    margin: 10px;
    height: 100px;
    width: 570px;
    font-weight: 500;
    border:2px solid black;
    border-radius: 40px;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

#game-over-container{
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 500px;
    width: 600px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#compliment{
    display: flex;

}