@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

:root{
    --hue: 100;
    --saturationBackground: 100%;
    --backgroundcolor: hsl(var(--hue), 63%, 83%);
}
body {
    transition: 0.00004s;
    margin: 0;
    padding: 0;
    background-size: 100% 100%; 
    font-family: 'K2D', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--backgroundcolor);
}

#quiz-container{
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 590px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.container-top{
    margin-top: 10px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#questionNo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
    width: 60px;
    font-weight: 700;
}

#question{
    display: flex;
    cursor: default;
    font-size: large;
    font-weight: 600;
    margin-bottom: 15px;
}

.question-append:hover{
    color: yellow;
}

.option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f9ff;
    font-size: larger;
    margin: 10px;
    height: 100px;
    width: 570px;
    font-weight: 500;
    border:2px solid black;
    border-radius: 40px;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

#game-over-container{
    box-shadow: 10px 10px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: 500px;
    width: 600px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
    background-color: aliceblue;
}

#compliment{
    font-size: 45px;
    display: flex;
}

#score{
    display: flex;
    font-size: 30px;
}

#compliment{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

#footer{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mediaImg{
    cursor: pointer;
}

#play-again{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

}

#play-again:hover{
    background-color: black;
    color: white;
}

.github,.linkedin{
    cursor: pointer;
}

.option:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color:#babbbe;
    transition: 0.7s;
}

@media only screen and (max-width: 425px) {
    body {
        background-size: 100% 100%;
    }

    #quiz-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        margin: auto;
        width: 100%;
        margin-left: 120px;
    }

    .container-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #questionNo {
        width: auto;
        margin-bottom: 10px;
    }

    #question {
        font-size: medium;
        margin-bottom: 10px;
    }

    .option {
        width: 200px;
    }

    #game-over-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        width: 300px;
    }

    #play-again {
        width: 80%;
    }

    #footer {
        align-items: center;
    }

    #score, #compliment {
        font-size: medium;
    }

    .github, .linkedin {
        width: 30px;
        height: 30px;
    }
}
