@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'K2D', sans-serif;
    background-image: linear-gradient(to bottom, #f3f9ff, #cfe6ff, #acd1ff, #8cbdff, #6da7ff);
    background-size: 100% 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.game-logo{
    height: 40px;
    width: 40px;
}

#logo{
    margin-left: 30px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

#logo p{
    font-weight: 700;
}

#top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#rules{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#rules:hover{
    background-color: black;
    color: #FCF5ED;
}

#flex{
    display: flex;
    margin-left: 30px;
}

#text{
    margin-left: 20px;
    width: fit-content;
}

.fun{
    font-weight: 800;
    font-size: 85px;
    line-height: 100px;
}

#text p{
    font-size: 40px;
    font-weight: 400;
}

.start-now{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: black;
    width: 200px;
    height: 80px;
    font-size: 20px;
    justify-content: center;
    color: #FCF5ED;
    border-radius: 10px;
    font-weight: bold;
    border-bottom: 4px solid white;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.start-now:hover{
    border-bottom-width: 0;
    transform: translateY(5px);
}

#bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

#home-logo{
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-top: 250px;
}

#home-logo img{
    height: 300px;
    width: 300px;
}

#instructions{
    border-radius: 35px;
    position: fixed;
    top: 50px;
    left: 23%;
    height: 550px;
    width: 750px;
    border: 4px solid black;
    background-color: #FCF5ED;
}

.heading{
    display: flex;
    justify-content: space-evenly; 
}

#rule-content{
    position:relative;
    left: 15%;
    bottom: 10px;
    padding: auto;
    margin-bottom: 100px;
}

.content{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;   
}

@media screen and (max-width: 425px) {
    body {
        height: fit-content;
        background-size: cover;
    }

    #top-container {
        /* flex-direction: column; */
        text-align: center;
    }

    #rules {
        margin: 0;
    }

    #flex {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    #text {
        margin: 20px 0;
    }

    .fun {
        font-size: 40px;
        line-height: 70px;
    }

    #bottom {
        flex-direction: column;
    }

    #home-logo {
        margin: 20px 0;
    }

    .home{
        visibility: hidden;
    }

    #instructions {
        left: 5%;
        width: 90%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    #rule-content {
        left: 0;
        margin-bottom: 20px;
    }

    .content {
        font-size: 16px;
        line-height: 28px;
    }

    #blur {
        position: relative;
    }
}
